<div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" value="<%= article.title %>" class="form-control" id="title" required>
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" required class="form-control" id="description" cols="30" rows="2"><%= article.description %></textarea>
</div>
<div class="form-group">
    <label for="markdown">markdown</label>
    <textarea name="markdown" required id="markdown" class="form-control" cols="30" rows="2"><%= article.markdown %></textarea>
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-info">Save</button>